.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		font-family $cooper
		set-type-size('xxxx-large', true)

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__byline
		max-width $column-width
		margin 0 auto
		//margin-top 1rem
		text-align center
		font-family $courier
		font-weight 700
		set-type-size('root', true)
		line-height 1.25

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__vidwrapper
		width 100%
		margin 5rem auto

		.top-border
			border-top 1px solid $black
			width 90%

		.player
			margin 0 auto
			max-width $column-width
