/* CUSTOM STORY STYLE */
.methods
	margin-bottom 8rem

	&__text
		border-top 1px solid $off-black
		padding-top 3rem
		max-width $column-width
		margin 0 auto

		h5
			color $off-black
			font-family $courier
			font-weight 700
			set-type-size('root', true)
			text-transform uppercase
			margin 0

		p
			color $off-black
			set-type-size('small', true)
			font-family $national
