<div class='chart'>
	<figure></figure>
	<div class='photoWrapper'>
		<div class='f-photos'>
			<div class='text'>
				<p><span class='f-span'>Women's</span> most average style in the <span class='decade'></span></p>
			</div>
			<div class='images'>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
			</div>
		</div>
		<div class='m-photos'>
			<div class='text'>
				<p><span class='m-span'>Men's</span> most average style in the <span class='decade'></span></p>
			</div>
			<div class='images'>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
				<img src=''>
			</div>
		</div>
	</div>
</div>
