<div class='chart'>
	<figure></figure>
	<div class='photoWrapper'>
		<div class='f-photos'>
			<div class='text'>
				<p><span class='f-span'>Women's</span> most average style in the <span class='decade'>1930s</span></p>
			</div>
			<div class='images'>
				<img src='assets/images/avgs_decade/1930_female_1.png'>
				<img src='assets/images/avgs_decade/1930_female_2.png'>
				<img src='assets/images/avgs_decade/1930_female_3.png'>
				<img src='assets/images/avgs_decade/1930_female_4.png'>
				<img src='assets/images/avgs_decade/1930_female_5.png'>
				<img src='assets/images/avgs_decade/1930_female_6.png'>
				<img src='assets/images/avgs_decade/1930_female_7.png'>
				<img src='assets/images/avgs_decade/1930_female_8.png'>
				<img src='assets/images/avgs_decade/1930_female_9.png'>
				<img src='assets/images/avgs_decade/1930_female_10.png'>
			</div>
		</div>
		<div class='m-photos'>
			<div class='text'>
				<p><span class='m-span'>Men's</span> most average style in the <span class='decade'>1930s</span></p>
			</div>
			<div class='images'>
				<img src='assets/images/avgs_decade/1930_male_1.png'>
				<img src='assets/images/avgs_decade/1930_male_2.png'>
				<img src='assets/images/avgs_decade/1930_male_3.png'>
				<img src='assets/images/avgs_decade/1930_male_4.png'>
				<img src='assets/images/avgs_decade/1930_male_5.png'>
				<img src='assets/images/avgs_decade/1930_male_6.png'>
				<img src='assets/images/avgs_decade/1930_male_7.png'>
				<img src='assets/images/avgs_decade/1930_male_8.png'>
				<img src='assets/images/avgs_decade/1930_male_9.png'>
				<img src='assets/images/avgs_decade/1930_male_10.png'>
			</div>
		</div>
	</div>
</div>
